body {
	font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
	font-weight: 300;
    direction: rtl;
    text-align: right;
}

html {
  font-size: .9rem ;
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
